/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

:root {
  --primary-color: #1c74cc;
  --accent-color: #2980b9;
  --text-color: #0d2842;
  --description-color: #313131;
  --button-color: #1e63a3;
  --button-text-color: #ffffff;
  --color: #f05a5a;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: #fff;
}

/* Navbar */
.left-group {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 40px;
  color: var(--text-color)
}

.auth-buttons button {
  margin-right: 20px;
  padding: 6px 22px;
  border: none;
  background-color: var(--button-color);
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.auth-buttons button:hover {
  background-color: var(--accent-color);
}


